<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Navbar Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/web-assets/css/style.css">
</head>
<body>
<!-- header  -->
<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/web-assets/image/logo.png" alt="logo" class="logo">
    </a>
    <!-- bên trái -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Cho thuê phòng trọ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Nhà cho thuê</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Cho thuê căn hộ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Tìm người ở ghép</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/sale">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/bang-gia-dich-vu">Bảng dịch vụ</a>
            </li>
        </ul>
    </div>
    <!-- bên phải -->
    <!--        <div class="login-signup-post">-->
    <!--            <button class="heart-button"><i class="fa-regular fa-heart">-->
    <!--                <span class="tooltip">Danh sách tin đã lưu</span>-->
    <!--            </i></button>-->
    <!--            -->
    <!--            <a class="nav-link text-white" href="#">Đăng nhập</a>-->
    <!--            <a class="nav-link text-white" href="#">Đăng ký</a>-->
    <!--            <button class="post-button">Đăng tin</button>-->
    <!--        </div>-->
</nav>
<!--bang dich vu-->
<img src="/web-assets/image/bangdichvu.jpg" class="d-block mx-auto mt-2" alt="">

<!--footer-->
<footer class="footer bg-light py-4">
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-md-3 text-center text-md-left">
                <img src="/web-assets/image/logo.png" alt="logo" class="logo">
            </div>
            <div class="col-md-3 hotline text-center text-md-left">
                <i class="fa-solid fa-phone-volume"></i>
                <p class="mb-0">Hotline<br><span class="phone-number">1900 6969</span></p>
            </div>
            <div class="col-md-3 support text-center text-md-left">
                <i class="fa-regular fa-circle-question"></i>
                <p class="mb-0">Hỗ trợ khách hàng <a href="trogiup.oceanhouse.com.vn">trogiup.oceanhouse.com.vn</a></p>
            </div>
            <div class="col-md-3 care text-center text-md-left">
                <i class="fa-solid fa-hospital-user"></i>
                <p class="mb-0">Chăm sóc khách hàng <a href="mailto:hotro@oceanhouse.com.vn">hotro@oceanhouse.com.vn</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 company-section">
                <div class="company-info">
                    CÔNG TY CỔ PHẦN OCEAN HOUSE VIỆT NAM
                </div>
                <div class="address">
                    <i class="fa-solid fa-earth-americas"></i> 112 A1, Nguyễn Qúy Đức, Thanh Xuân Bắc, Hà Nội
                </div>
                <div class="phone">
                    <i class="fa-solid fa-phone-volume icon2"></i> 1900 6969 - 0912 345 678
                </div>
                <div class="app">
                    <i class="fa-brands fa-google-play "></i> GooglePlay
                    <i class="fa-brands fa-app-store-ios ic"></i> AppStore
                </div>
            </div>
            <div class="col-md-3 company-section2">
                <div class="flex-container">
                    <div class="company-info">
                        HƯỚNG DẪN
                    </div>
                    <div class="us">Về chúng tôi</div>
                    <div class="price">Báo Giá & Hỗ Trợ</div>
                    <div class="question">Câu hỏi thường gặp</div>
                    <div class="error">Góp ý báo lỗi</div>
                    <div class="map">Sitemap</div>
                </div>
            </div>
            <div class="col-md-3 company-section3">
                <div class="flex-container3 ">
                    <div class="company-info3">QUY ĐỊNH</div>
                    <div class="us3">Quy định đăng tin</div>
                    <div class="price3">Quy chế hoạt động</div>
                    <div class="question3">Điều khoản thỏa thuận</div>
                    <div class="error3">Chính sách bảo mật</div>
                    <div class="map3">Giải quyết khiếu nại</div>
                </div>
            </div>
            <div class="col-md-3 company-section4">
                <div class="company-info4">ĐĂNG KÝ NHẬN TIN</div>
                <div class="email">
                    <input type="email" placeholder="Nhập email của bạn">
                    <button class="subscribe-button">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>