<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Navbar Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/web-assets/css/style.css">
</head>
<body>
    <!-- header  -->
    <th:block th:replace="~{/web/fragments/header :: .navbar}"></th:block>
    <!-- Sreaching bar -->
    <div class="search-container">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Trên toàn quốc">
            <button class="search-button">Tìm kiếm</button>
            <div class="dropdown-search">
                <div class="title">Bạn muốn tìm phòng trọ, nhà trọ ở khu vực nào ?</div>
                <div class="title1">Top tỉnh thành nổi bật</div>
                <div class="highlighted-cities">
                    <div class="city">
                        <img src="/web-assets/image/hanoi.jpg" alt="Hà Nội">
                        <div class="city-name">Hà Nội</div>
                    </div>
                    <div class="city">
                        <img src="/web-assets/image/hcm.webp" alt="Hồ Chí Minh">
                        <div class="city-name">Hồ Chí Minh</div>
                    </div>
                    <div class="city">
                        <img src="/web-assets/image/danang.jpg" alt="Đà Nẵng">
                        <div class="city-name">Đà Nẵng</div>
                    </div>
                    <div class="city">
                        <img src="/web-assets/image/binhduong.jpg" alt="Bình Dương">
                        <div class="city-name">Bình Dương</div>
                    </div>
                    <div class="city">
                        <img src="/web-assets/image/dongnai.jpg" alt="Đồng Nai">
                        <div class="city-name">Đồng Nai</div>
                    </div>
                    <div class="city">
                        <img src="/web-assets/image/khanhhoa.jpeg" alt="Khánh Hòa">
                        <div class="city-name">Khánh Hòa</div>
                    </div>
                </div>
                <div class="title2">Tất cả tỉnh thành</div>
                <div class="all-cities">
                    <div>An Giang</div>
                    <div>Bà Rịa Vũng Tàu</div>
                    <div>Bạc Liêu</div>
                    <div>Bắc Kạn</div>
                    <div>Bắc Giang</div>
                    <div>Bắc Ninh</div>
                    <div>Bến Tre</div>
                    <div>Bình Dương</div>
                    <div>Bình Định</div>
                    <div>Bình Phước</div>
                    <div>Bình Thuận</div>
                    <div>Cà Mau</div>
                    <div>Cao Bằng</div>
                    <div>Đà Nẵng</div>
                    <div>Đắk Lắk</div>
                    <div>Đắk Nông</div>
                    <div>Điện Biên</div>
                    <div>Đồng Nai</div>
                    <div>Đồng Tháp</div>
                    <div>Gia Lai</div>
                    <div>Hà Giang</div>
                    <div>Hà Nam</div>
                    <div>Hà Nội</div>
                    <div>Hà Tĩnh</div>
                    <div>Hải Dương</div>
                    <div>Hải Phòng</div>
                    <div>Hậu Giang</div>
                    <div>Hòa Bình</div>
                    <div>Hưng Yên</div>
                    <div>Khánh Hòa</div>
                    <div>Kiên Giang</div>
                    <div>Kon Tum</div>
                    <div>Lai Châu</div>
                    <div>Lâm Đồng</div>
                    <div>Lạng Sơn</div>
                    <div>Lào Cai</div>
                    <div>Long An</div>
                    <div>Nam Định</div>
                    <div>Nghệ An</div>
                    <div>Ninh Bình</div>
                    <div>Ninh Thuận</div>
                    <div>Phú Thọ</div>
                    <div>Phú Yên</div>
                    <div>Quảng Bình</div>
                    <div>Quảng Nam</div>
                    <div>Quảng Ngãi</div>
                    <div>Quảng Ninh</div>
                    <div>Quảng Trị</div>
                    <div>Sóc Trăng</div>
                    <div>Sơn La</div>
                    <div>Tây Ninh</div>
                    <div>Thái Bình</div>
                    <div>Thái Nguyên</div>
                    <div>Thanh Hóa</div>
                    <div>Thừa Thiên Huế</div>
                    <div>Tiền Giang</div>
                    <div>TP. Hồ Chí Minh</div>
                    <div>Trà Vinh</div>
                    <div>Tuyên Quang</div>
                    <div>Vĩnh Long</div>
                    <div>Vĩnh Phúc</div>
                    <div>Yên Bái</div>
                </div>
            </div>
        </div>
        <div class="filter-buttons">
            <div class="filter-button-wrapper">
                <button class="filter-button filter-button1" data-filter="phong-tro">Phòng trọ, nhà trọ <i class="fa-solid fa-chevron-down"></i></button>
                <div class="filter-dropdown filter-dropdown1">
                    <div class="filter-dropdown-content">
                        <div>Phòng trọ, nhà trọ</div>
                        <div>Nhà thuê nguyên căn</div>
                        <div>Cho thuê căn hộ</div>
                        <div>Cho thuê căn hộ mini</div>
                        <div>Cho thuê căn hộ dịch vụ</div>
                        <div>Tìm người ở ghép</div>
                        <div>Cho thuê mặt bằng</div>
                    </div>
                </div>
            </div>
            <div class="filter-button-wrapper">
                <button class="filter-button filter-button2" data-filter="muc-gia">Mức giá <i class="fa-solid fa-chevron-down"></i></button>
                <div class="filter-dropdown filter-dropdown2">
                    <div class="filter-dropdown-content">
                        <div>0 - 1 triệu</div>
                        <div>1 - 3 triệu</div>
                        <div>3 - 5 triệu</div>
                        <div>5 - 10 triệu</div>
                        <div>10 triệu trở lên</div>
                    </div>
                </div>
            </div>
            <div class="filter-button-wrapper">
                <button class="filter-button filter-button3" data-filter="dien-tich">Diện tích <i class="fa-solid fa-chevron-down"></i></button>
                <div class="filter-dropdown filter-dropdown3">
                    <div class="filter-dropdown-content">
                        <div>0 - 20 m²</div>
                        <div>20 - 50 m²</div>
                        <div>50 - 100 m²</div>
                        <div>100 m² trở lên</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ô hiện thị các phòng trọ -->
    <section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h3>Phòng trọ dành cho bạn</h3>
            <a href="/phong-tro-cho-ban">Xem thêm</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-3 mb-4" th:each="room : ${listRoom}">
                <div class="room-item" >
                    <a th:href="@{/room/{id}/{slug}(id=${room.id}, slug=${room.slug})}">
                    <div class="room-poster rounded overflow-hidden" >
                        <img src="/web-assets/image/hanoi.jpg" th:src="${room.poster}" th:alt="${room.title}">
                    </div>
                    <div class="item-details-news-foru-index mt-1 ml-2 mr-2 mb-2">
                        <div class="room-title-news-foru-index " th:text="${room.title}" >Room Title ,23 Main Street,23 Main Streetroom-title-news-foruroom-title-news-foru</div>
                        <div class="room-price-news-foru-index " th:text="${room.price}" >2 tr - 100 m2</div>
                        <div class="room-address-news-foru-index ">
                            <i class="fa-solid fa-location-dot"></i>
                            <span th:text=" ${room.district.name} + ', ' + ${room.province.name}"></span>
                        </div>
                        <div class="item-footer-news-foru-index  mt-3">
                            <div class="post-time-news-foru-index"
                                 th:text="${#temporals.format(room.createdAt, 'dd/MM/yyyy')} ">
                                Đăng 5 ngày trước
                            </div>
                            <div class="icon-box-news-foru-index">
                                <i class="fa-regular fa-heart "></i>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
<!--            Phòng trọ nổi bật-->
    <section class="py-5">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3>Phòng trọ nổi bật</h3>
                <a href="/phong-tro-cho-ban">Xem thêm</a>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 mb-4" th:each="room : ${listFavRoom}">
                    <div class="room-item" >
                        <a th:href="@{/room/{id}/{slug}(id=${room.id}, slug=${room.slug})}">
                            <div class="room-poster rounded overflow-hidden" >
                                <img src="/web-assets/image/hcm.webp" th:src="${room.poster}" alt="Room Image">
                            </div>
                            <div class="item-details-news-foru-index mt-1 ml-2 mr-2 mb-2">
                                <div class="room-title-news-foru-index " th:text="${room.title}" >Room Title ,23 Main Street,23 Main Streetroom-title-news-foruroom-title-news-foru</div>
                                <div class="room-price-news-foru-index " th:text="${room.price}" >2 tr - 100 m2</div>
                                <div class="room-address-news-foru-index ">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <span th:text=" ${room.district.name} + ', ' + ${room.province.name}"></span>
                                </div>
                                <div class="item-footer-news-foru-index  mt-3">
                                    <div class="post-time-news-foru-index"
                                         th:text="${T(java.time.Duration).between(room.createdAt, T(java.time.LocalDateTime).now()).toDays()} + ' ngày trước'">
                                        Đăng 5 ngày trước
                                    </div>
                                    <div class="icon-box-news-foru-index">
                                        <i class="fa-regular fa-heart "></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--news -->
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
                    <h3>Tin tức phòng trọ</h3>
                    <a href="">Xem thêm</a>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="news-item bg-body-tertiary p-4 rounded">
                            <h5>Kinh nghiệm thuê phòng trọ an toàn và tiết kiệm</h5>
                            <p>Jan 8, 2023</p>
                            <p>Những lưu ý khi thuê phòng trọ để đảm bảo an toàn và tiết kiệm chi phí.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="news-item bg-body-tertiary p-4 rounded">
                            <h5>Top 10 khu vực thuê phòng giá rẻ tại Hà Nội</h5>
                            <p>Oct 8, 2022</p>
                            <p>Danh sách các khu vực có giá thuê phòng trọ hợp lý và tiện lợi tại Hà Nội.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="news-item bg-body-tertiary p-4 rounded">
                            <h5>Các tiện ích nên có khi thuê phòng trọ</h5>
                            <p>Feb 18, 2022</p>
                            <p>Các tiện ích cần có khi tìm phòng trọ, giúp cuộc sống tiện nghi hơn.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="news-item bg-body-tertiary p-4 rounded">
                            <h5>Những điều cần lưu ý khi ký hợp đồng thuê trọ</h5>
                            <p>Dec 17, 2021</p>
                            <p>Các điều khoản cần chú ý trong hợp đồng để tránh rủi ro.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="news-item bg-body-tertiary p-4 rounded">
                            <h5>Mẹo chọn phòng trọ gần trường học, tiện ích</h5>
                            <p>May 15, 2021</p>
                            <p>Hướng dẫn chọn phòng trọ thuận tiện cho học sinh, sinh viên.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="news-item bg-body-tertiary p-4 rounded">
                            <h5>Cập nhật giá thuê phòng trọ tại TP.HCM</h5>
                            <p>July 1, 2021</p>
                            <p>Tổng quan về giá thuê phòng trọ tại các quận của TP.HCM năm 2021.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <th:block th:replace="~{/web/fragments/footer :: .footer}"></th:block>



            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
                    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="/web-assets/js/scripts.js"></script>
            <script>
                document.getElementById("logoutButton").addEventListener("click", async (event) => {
                    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
                    try {
                        await axios.post("/api/auth/logout");
                        setTimeout(() => {
                            window.location.href = '/';
                        }, 1000); // sau 1s chuyển hướng về trang chủ
                        toastr.success("Đăng xuat thành công");
                    } catch (error) {
                        console.error('Error:', error);
                        toastr.error("Đăng xuất thất bại");
                    }
                });
            </script>
    </body>
</html>
