<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Navbar Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/web-assets/css/style.css">
</head>
<body>
<!-- header  -->
<th:block th:replace="~{/web/fragments/header :: header}"></th:block>
<!-- bảng login -->
    <section class="d-flex justify-content-center align-items-center ">
        <div class="conlogin mt-5 mb-5">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <h3 class="mb-3 mt-3">Đăng nhập</h3>
                <form id="form-login" class="p-4 bg-body-tertiary form-border">
                    <div class="mb-3 form-group">
                        <label for="email" class="form-label">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa-regular fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="email" name="email"/>
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-user-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="password" name="password"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="btn-login">Đăng nhập</button>
                        <span class="register ml-4"><a href="#" class="text-primary">Đăng ký</a></span>
                    </div>
                </form>
            </div>
        </div>
    </section>
<!-- footer  -->
<th:block th:replace="~{/web/fragments/footer :: footer}"></th:block>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
            integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script th:inline="javascript">
    const currentUser = [[${session.currentUser}]];
    console.log(currentUser);
    </script>

    <script>
        // Xử lý login
        const formLoginEl = document.getElementById('form-login');
        const emailEl = document.getElementById('email');
        const passwordEl = document.getElementById('password');

        formLoginEl.addEventListener("submit", async (e) => {
            e.preventDefault();

            if (emailEl.value.trim() === "") {
                alert("Email không được để trống");
                return;
            }

            if (passwordEl.value.trim() === "") {
                alert("Password không được để trống");
                return;
            }

            const data = {
                email: emailEl.value,
                password: passwordEl.value
            };

            try {
                const response = await axios.post('/api/auth/login', data);
                if (response.status === 200) {
                    setTimeout(() => {
                        window.location.href = '/';
                    }, 500); // sau 1s chuyển hướng về trang chủ
                }
            } catch (error) {
                console.error(error);
                alert("Tai khoan hoac mat khau khong dung");
            }
        })
    </script>
    <script>
        document.getElementById("logoutButton").addEventListener("click", async (event) => {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
            try {
                await axios.post("/api/auth/logout");
                setTimeout(() => {
                    window.location.href = '/';
                }, 1000); // sau 1s chuyển hướng về trang chủ
                toastr.success("Đăng xuat thành công");
            } catch (error) {
                console.error('Error:', error);
                toastr.error("Đăng xuất thất bại");
            }
        });
    </script>


