<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<footer class="footer bg-light py-4">
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-md-3 text-center text-md-left">
                <img src="/web-assets/image/logo.png" alt="logo" class="logo">
            </div>
            <div class="col-md-3 hotline text-center text-md-left">
                <i class="fa-solid fa-phone-volume"></i>
                <p class="mb-0">Hotline<br><span class="phone-number">1900 6969</span></p>
            </div>
            <div class="col-md-3 support text-center text-md-left">
                <i class="fa-regular fa-circle-question"></i>
                <p class="mb-0">Hỗ trợ khách hàng <a href="trogiup.oceanhouse.com.vn">trogiup.oceanhouse.com.vn</a></p>
            </div>
            <div class="col-md-3 care text-center text-md-left">
                <i class="fa-solid fa-hospital-user"></i>
                <p class="mb-0">Chăm sóc khách hàng <a href="mailto:hotro@oceanhouse.com.vn">hotro@oceanhouse.com.vn</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 company-section">
                <div class="company-info">
                    CÔNG TY CỔ PHẦN OCEAN HOUSE VIỆT NAM
                </div>
                <div class="address">
                    <i class="fa-solid fa-earth-americas"></i> 112 A1, Nguyễn Qúy Đức, Thanh Xuân Bắc, Hà Nội
                </div>
                <div class="phone">
                    <i class="fa-solid fa-phone-volume icon2"></i> 1900 6969 - 0912 345 678
                </div>
                <div class="app">
                    <i class="fa-brands fa-google-play "></i> GooglePlay
                    <i class="fa-brands fa-app-store-ios ic"></i> AppStore
                </div>
            </div>
            <div class="col-md-3 company-section2">
                <div class="flex-container">
                    <div class="company-info">
                        HƯỚNG DẪN
                    </div>
                    <div class="us">Về chúng tôi</div>
                    <div class="price">Báo Giá & Hỗ Trợ</div>
                    <div class="question">Câu hỏi thường gặp</div>
                    <div class="error">Góp ý báo lỗi</div>
                    <div class="map">Sitemap</div>
                </div>
            </div>
            <div class="col-md-3 company-section3">
                <div class="flex-container3 ">
                    <div class="company-info3">QUY ĐỊNH</div>
                    <div class="us3">Quy định đăng tin</div>
                    <div class="price3">Quy chế hoạt động</div>
                    <div class="question3">Điều khoản thỏa thuận</div>
                    <div class="error3">Chính sách bảo mật</div>
                    <div class="map3">Giải quyết khiếu nại</div>
                </div>
            </div>
            <div class="col-md-3 company-section4">
                <div class="company-info4">ĐĂNG KÝ NHẬN TIN</div>
                <div class="email">
                    <input type="email" placeholder="Nhập email của bạn">
                    <button class="subscribe-button">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>