<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- header  -->
<header class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/web-assets/image/logo.png" alt="logo" class="logo">
    </a>
    <!-- bên trái -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Cho thuê phòng trọ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Nhà cho thuê</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Cho thuê căn hộ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/phong-tro-cho-ban">Tìm người ở ghép</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/sale">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/bang-gia-dich-vu">Bảng dịch vụ</a>
            </li>
        </ul>
    </div>
    <!-- bên phải -->
    <div class="login-signup-post mr-5">
        <button class="heart-button mr-3"><i class="fa-regular fa-heart">
            <span class="tooltip">Danh sách tin đã lưu</span>
        </i></button>

        <div class="collapse navbar-collapse justify-content-between align-items-center" id="main-menu">
            <div th:if="${session.currentUser == null}" class="d-flex justify-content-around align-items-center">
                <a class="nav-link text-white" href="/login">Đăng nhập</a>
                <a class="nav-link text-white" href="#">Đăng ký</a>
                <button class="post-button">Đăng tin</button>
            </div>
            <div th:if="${session.currentUser != null}">
                <div class="dropdown">
                    <a class="btn btn-light dropdown-toggle nav-link text-dark custom-shadow" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.currentUser.name}">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Trang quản trị</a></li>
                        <li><a class="dropdown-item" id="user-infor" th:href="@{/infor/{id}(id=${session.currentUser.id})}">Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" href="#">Lịch sử xem phòng</a></li>
                        <li><a class="dropdown-item" href="#">Phòng yêu thích</a></li>
                        <li><button id="logoutButton" class="dropdown-item">Đăng xuất</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>